@model eGift.Admin.MVC.Models.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="IsDeleted" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="RoleId" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginModel.UserName" class="control-label"></label>
                <input asp-for="LoginModel.UserName" class="form-control" />
                <span asp-validation-for="LoginModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginModel.Password" class="control-label"></label>
                <input asp-for="LoginModel.Password" class="form-control" type="password" />
                <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginModel.ConfirmPassword" class="control-label"></label>
                <input asp-for="LoginModel.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="LoginModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" readonly />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                @*<input asp-for="GenderId" class="form-control" />*@
                <select asp-for="GenderId" asp-items="Model.GenderList" class="form-control">
                    <option>Select</option>
                </select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-4 offset-md-1">
            <div class="form-group">
                <label class="control-label">Profile Image</label>
                <div class="custom-file-height custom-file col-md-12 text-center">
                    @if (Model.ProfileImageData != null)
                    {
                        <img id="profile-image-preview" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfileImageData)" alt="" class="img-thumbnail" width="135" height="150" />
                    }
                    else
                    {
                        <img id="profile-image-preview" src="~/images/default-file.png" alt="" class="img-thumbnail" width="135" height="150" />
                    }
                </div>
                <div class="custom-file col-md-12 text-center">
                    <label class="btn btn-sm btn-primary">
                        <i class="fa fa-fw fa-folder-open-o"></i> Browse
                        @Html.TextBoxFor(model => model.ProfileImage, new { Type = "File", hidden = "hidden" })
                    </label>
                    <label id="clear-profile-image" class="btn btn-sm btn-danger">
                        <i class="fa fa-fw fa-remove"></i> Clear
                    </label>
                    <span id="profile-image-validtion" asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>

            </div>
        </div>


    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/js/pages/customer.js"></script>