@page
@model eGift.Store.Razor.Pages.Customer.CreateModel

@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/pages/customer.css" />
<h2>@ViewData["Title"]</h2>
<hr />
<form method="post" enctype="multipart/form-data" novalidate="novalidate"> 
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.FirstName" class="control-label"></label>
                <input asp-for="CustomerViewModel.FirstName" class="form-control" />
                <span asp-validation-for="CustomerViewModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.LastName" class="control-label"></label>
                <input asp-for="CustomerViewModel.LastName" class="form-control" />
                <span asp-validation-for="CustomerViewModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.LoginModel.UserName" class="control-label"></label>
                <input asp-for="CustomerViewModel.LoginModel.UserName" class="form-control" />
                <span asp-validation-for="CustomerViewModel.LoginModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.LoginModel.Password" class="control-label"></label>
                <input asp-for="CustomerViewModel.LoginModel.Password" class="form-control" type="password" />
                <span asp-validation-for="CustomerViewModel.LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.LoginModel.ConfirmPassword" class="control-label"></label>
                <input asp-for="CustomerViewModel.LoginModel.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="CustomerViewModel.LoginModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.DateOfBirth" class="control-label"></label>
                <input asp-for="CustomerViewModel.DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="CustomerViewModel.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Age" class="control-label"></label>
                <input asp-for="CustomerViewModel.Age" class="form-control" readonly />
                <span asp-validation-for="CustomerViewModel.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.GenderId" class="control-label"></label>
                <select asp-for="CustomerViewModel.GenderId" asp-items="Model.CustomerViewModel.GenderList" class="form-control">
                    <option>Select</option>
                </select>
                <span asp-validation-for="CustomerViewModel.GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Mobile" class="control-label"></label>
                <input asp-for="CustomerViewModel.Mobile" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Email" class="control-label"></label>
                <input asp-for="CustomerViewModel.Email" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.AddressName" class="control-label"></label>
                <textarea asp-for="CustomerViewModel.AddressName" class="form-control" placeholder="Type Address"></textarea>
                <span asp-validation-for="CustomerViewModel.AddressName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CustomerViewModel.IsActive" /> @Html.DisplayNameFor(model => model.CustomerViewModel.IsActive)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="CustomerViewModel.ProfileImagePath" class="control-label"></label>
            <input asp-for="CustomerViewModel.ProfileImagePath" class="form-control" />
            <span asp-validation-for="CustomerViewModel.ProfileImagePath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6 offset-1 ">
            <div class="form-group">
                <label class="control-label fw-700">Profile Image</label>
                <div class="custom-file-height custom-file col-md-12 text-center">
                    @if (Model.CustomerViewModel.ProfileImageData != null)
                    {
                        <img id="profile-image-preview" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.CustomerViewModel.ProfileImageData)" alt="" class="img-thumbnail" width="135" height="150" />
                    }
                    else
                    {
                        <img id="profile-image-preview" src="~/images/default-file.png" alt="" class="img-thumbnail" width="135" height="150" />
                    }
                </div>
                <div class="custom-file col-md-12 text-center">
                    <label class="btn btn-sm btn-primary">
                        <i class="fa fa-fw fa-folder-open-o"></i> Browse
                        @Html.TextBoxFor(model => model.CustomerViewModel.ProfileImage, new { Type = "File", hidden = "hidden" })
                    </label>
                    <label id="clear-profile-image" class="btn btn-sm btn-danger">
                        <i class="fa fa-fw fa-remove"></i> Clear
                    </label>
                    <span id="profile-image-validtion" asp-validation-for="CustomerViewModel.ProfileImage" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-info" asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/pages/customer.js"></script>
