.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.custom-file {
    height: 175px !important;
}

.custom-height {
    height: 50px !important;
}

.fw-700 {
    font-weight: 700;
}

th, td {
    white-space: nowrap;
    padding: 0 10px;
}

th {
    width: auto;
}

.mt-n-8 {
    margin-top: -8px !important;
}

#add-btn {
    padding: 6px 15px;
    font-size: 15px;
}
